* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  background-color: cadetblue;
  max-width: 420px;
  max-height: 95%;
  width: 100%;
  text-align: center;
}
#canvas {
  width: 100%;  
  border: 3px solid black;  
}
 .btn {
  margin: 3px auto;
  height: 40px;
  color: #fff;
  background-color: #222;
  border: 1px solid rgb(253, 251, 251);
  font-size: 14px;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}
#score {
  font-size: 16px;
}

p {
  font-size: 12px;
}
 

  #startBtn {
   position: absolute;
   top: 40%;   
   
    padding: 15px;
    width: 100%;
    display: none;
    opacity: 0.5;
  }
  #upBtn,#downBtn {
    width: 80%;
  }
  #leftBtn, #rightBtn {
    width: 45%;
  }  
  
